---
import Layout from "../../../layouts/Layout.astro";
import InnerHero from "../../../components/InnerHero.astro";
import MiniPreviewCard from "../../../components/MiniPreviewCard.astro";
import CategoryList from "../../../components/Events/CategoryList.astro";

import { DateTime } from "luxon";
import { eventsPreview, eventTypes } from "../../../lib/sanityQueries";
import { getSanityData, urlFor } from "../../../lib/sanity";

const localNav = {
  section: "Connect",
  children: [
    {
      name: "Events & Programs",
      href: "/connect/events",
    },
    {
      name: "Ministries",
      href: "/connect/ministries",
    },
    {
      name: "Missions",
      href: "/connect/missions",
    },
    {
      name: "Pastoral Residency",
      href: "/connect/pastoral-residency",
    },
  ],
};

export async function getStaticPaths() {
  const pages = await getSanityData(eventTypes);

  return pages.map((page) => {
    return {
      params: { category: page.slug },
      props: { page },
    };
  });
}

const { category } = Astro.params;
const { page } = Astro.props;

const categories = await getSanityData(eventTypes);
---

<Layout title="">
  <main slot="main">
    <InnerHero
      localNav={localNav}
      pageTitle={`${page.name} Events`}
      pageDescription=""
    />
    <article class="content-wrapper flow">
      <div class="with-sidebar">
        <div class="grid">
          {
            page.events.map((event) => (
              <MiniPreviewCard
                image={event.image && urlFor(event.image).url()}
                imageAlt=""
                href={`/connect/events/${DateTime.fromISO(event.date).toFormat(
                  "L-d-yyyy"
                )}-${event.slug}`}
              >
                <h3>{event.name}</h3>
                <time>
                  {DateTime.fromISO(event.date).toLocaleString(
                    DateTime.DATE_FULL
                  )}
                </time>
              </MiniPreviewCard>
            ))
          }
        </div>
        <!-- <EventsList events={events} /> -->
        <div class="flow">
          <h3 class="text-step-2">Event Categories</h3>
          <CategoryList categories={categories} />
        </div>
      </div>
    </article>
  </main>
</Layout>

<style>
  .with-sidebar {
    margin-top: var(--section-spacer);
    --sidebar-gap: 3rem;
    --sidebar-min-width: 15rem;
    --main-min-width: 60%;
  }
</style>
