---
import Layout from "../../../layouts/Layout.astro";
import Button from "../../../components/Button.astro";
import Feature from "../../../components/Feature.astro";
import CategoryList from "../../../components/Events/CategoryList.astro";
import InnerHero from "../../../components/InnerHero.astro";
import { getSanityData, urlFor } from "../../../lib/sanity";
import EventsList from "../../../components/Events/EventsList.astro";

const localNav = {
  section: "Connect",
  children: [
    {
      name: "Events & Programs",
      href: "/connect/events",
    },
    {
      name: "Ministries",
      href: "/",
    },
    {
      name: "Missions",
      href: "/",
    },
    {
      name: "Pastoral Residency",
      href: "/",
    },
  ],
};

const events = await getSanityData(
  `*[_type == 'event'] | order(date asc) {
  ...,
  associatedMinistry->,
  "image": image.asset->
}`
);

const categories = [
  { title: "Adult Ministry", value: "adult" },
  { title: "Youth Ministry", value: "youth" },
  { title: "Children's Ministry", value: "children" },
  { title: "Music Ministry", value: "music" },
  { title: "Program", value: "program" },
];

const pageTitle = "Events & Programs";
const pageDescription =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
---

<Layout title={pageTitle}>
  <main slot="main">
    <InnerHero
      localNav={localNav}
      pageTitle={pageTitle}
      pageDescription={pageDescription}
    />
    <article class="content-wrapper flow">
      <div class="with-sidebar">
        <EventsList events={events} />
        <div class="flow">
          <h3 class="text-step-2">Categories</h3>
          <CategoryList categories={categories} />
        </div>
      </div>
    </article>
  </main>
</Layout>

<style>
  article {
    margin-block-start: var(--section-spacer-half);
    margin-block-end: var(--section-spacer);
  }

  .with-sidebar {
    --sidebar-gap: 3rem;
    --sidebar-min-width: 15rem;
    --main-min-width: 60%;
  }
</style>
