---
import { getCollection, getEntry } from "astro:content";
import { isBefore, tzDate } from "@formkit/tempo";
import Button from "@components/Button.astro";
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import type { Page } from "astro";
import PageHeader from "@components/modules/PageHeader.astro";
import ServicesList from "@components/services/ServicesList.astro";

export const getStaticPaths = (async ({ paginate }) => {
    const now = new Date();
    const allServices = await getCollection("services", ({ data }) =>
        isBefore(tzDate(data.date, "America/Los_Angeles"), now),
    );
    const sorted = allServices.sort((a, b) =>
        isBefore(a.data.date, b.data.date) ? 1 : -1,
    );

    return paginate(sorted, { pageSize: 10 });
}) satisfies GetStaticPaths;

interface Props {
    page: Page;
}

const { page } = Astro.props;

const servicesIndex = await getEntry(
    "pages",
    "9ddcd604-b77e-46ad-aab3-76e808feb268",
);
---

{
    servicesIndex && (
        <Layout
            meta={{
                title: servicesIndex.data.seo.title ?? servicesIndex.data.name,
                description: servicesIndex.data.seo.description,
                ogTitle: servicesIndex.data.seo.ogTitle,
                ogDescription: servicesIndex.data.seo.ogDescription,
                ogImage: servicesIndex.data.seo.ogImage,
            }}
        >
            <main slot="main">
                <PageHeader page={servicesIndex} />
                <article class="content-wrapper flow padding">
                    <ServicesList
                        services={page.data}
                        showVideoThumbnail={true}
                    />
                    <div class="pagination-nav">
                        {page.url.prev && (
                            <Button
                                className="prev-page"
                                href={page.url.prev}
                                rel="prev"
                            >
                                <svg
                                    aria-hidden="true"
                                    fill="var(--color-primary-100)"
                                    height="10"
                                    viewBox="0 0 320 512"
                                    width="10"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                                </svg>
                                <span>Previous</span>
                            </Button>
                        )}
                        <div class="page-total">
                            {`Page ${page.currentPage} of ${page.lastPage}`}
                        </div>
                        {page.url.next && (
                            <Button
                                className="next-page"
                                href={page.url.next}
                                rel="next"
                            >
                                <span>Next</span>
                                <svg
                                    aria-hidden="true"
                                    fill="var(--color-primary-100)"
                                    height="10"
                                    viewBox="0 0 320 512"
                                    width="10"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
                                </svg>
                            </Button>
                        )}
                    </div>
                    <div class="center-items">
                        <Button
                            href="https://www.youtube.com/@smcommunitychurchtraditional/featured"
                            target="_blank"
                        >
                            <span>See More on YouTube</span>
                            <svg
                                aria-hidden="true"
                                fill="var(--color-primary-100)"
                                height="14"
                                viewBox="0 0 448 512"
                                width="14"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z" />
                            </svg>
                        </Button>
                    </div>
                </article>
            </main>
        </Layout>
    )
}

<style>
    .content-wrapper {
        margin-block-start: var(--section-spacer-half);
        margin-block-end: var(--section-spacer);

        &.flow {
            --flow-space: var(--space-3xl);
        }
    }

    .padding {
        padding-block-start: var(--space-2xl);
    }

    .pagination-nav {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 25rem;
        margin-inline: auto;

        & .prev-page {
            grid-column: 1/2;
        }
        & .page-total {
            grid-column: 2/3;
        }
        & .next-page {
            grid-column: 3/4;
        }
    }

    @media (max-width: 768px) {
        .content-wrapper {
            margin-block-start: 3rem;
            margin-block-end: 3rem;

            &.flow {
                --flow-space: var(--space-2xl);
            }
        }

        .padding {
            padding-block-start: 1rem;
        }
    }
</style>
