---
import Layout from "../../../layouts/Layout.astro";
import Button from "../../../components/Button.astro";
import InnerHero from "../../../components/InnerHero.astro";
import BreadcrumbAuto from "../../../components/BreadcrumbAuto.astro";
import Tabs from "../../../components/React/Tabs";
import { Image } from "@astrojs/image/components";
import { joinTypes } from "../../../utils/format";

import { PortableText } from "astro-portabletext";
import { DateTime } from "luxon";
import { getSanityData, urlFor } from "../../../lib/sanity";

import bgImage from "../../../assets/images/church-ext-2.jpg";

export async function getStaticPaths() {
  const pages = await getSanityData(`*[_type == 'service']|order(date) {
  ...,
  "slug": slug.current,
  serviceType[] {
    ...,
    preacher->{
      name,
      "image": image.asset->,
      contact
    }
  },
  "previousService": *[_type == 'service' && ^.date > date]|order(date desc)[0]{
    "slug": slug.current,
    name,
    date,
    serviceType[] {
      name
    }
  },
  "nextService": *[_type == 'service' && ^.date < date]|order(date asc)[0]{
    "slug": slug.current,
    name,
    date,
    serviceType[] {
      name
    }
  },
}`);

  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}

const { slug } = Astro.params;
const { page } = Astro.props;

const serviceDate = DateTime.fromISO(page.date)
  .setZone("America/Los_Angeles")
  .toLocaleString(DateTime.DATE_HUGE);

const serviceDateSmall = DateTime.fromISO(page.date)
  .setZone("America/Los_Angeles")
  .toLocaleString(DateTime.DATE_FULL);

const breadcrumbs = [
  {
    name: "Worship",
    href: "/worship",
  },
  {
    name: "Services",
    href: "/worship/services",
  },
  {
    name: serviceDateSmall,
    current: true,
  },
];

const serviceTypes = page.serviceType.map((item) => item.name);
const description = `Watch video from our ${serviceDate} service.`;
---

<Layout title={"Service for " + serviceDate}>
  <main slot="main">
    <InnerHero
      pageTitle={page.name ? page.name : "Sunday Service"}
      pageDescription={description}
    >
      <Fragment slot="breadcrumbs">
        <BreadcrumbAuto
          navigation={breadcrumbs}
          className="breadcrumb-wrapper"
        />
      </Fragment>
      <div
        slot="eyebrow"
        class="eyebrow small-title heading-category"
        style="margin-bottom: -1.5rem;"
      >
        {serviceDate}
      </div>
    </InnerHero>
    <article class="content">
      <div class="live inner">
        <Tabs client:load service={page} />
      </div>
      <div class="content-wrapper more">
        <h2 class="sr-only">More Services</h2>
        <div class="grid">
          {
            page.previousService ? (
              <div class="flex" data-more="previous">
                <p class="small-title">Previous Service</p>
                <a
                  href={`/worship/services/${page.previousService.slug}`}
                  class="service-wrapper"
                >
                  <div class="date-label-wrapper">
                    <time
                      class="date-label"
                      datetime={page.previousService.date}
                    >
                      <div class="event-day font-header">
                        {DateTime.fromISO(page.previousService.date)
                          .setZone("America/Los_Angeles")
                          .toFormat("d")}
                      </div>
                      <div class="small-title">
                        {DateTime.fromISO(page.previousService.date)
                          .setZone("America/Los_Angeles")
                          .toFormat("LLL")}
                      </div>
                    </time>
                    <Image src={bgImage} alt="" />
                  </div>
                  <div class="flow">
                    <div class="text">
                      <div class="small-title category">
                        {joinTypes(page.previousService.serviceType)}
                      </div>
                      <h3 class="text-step-2">
                        {page.previousService.name
                          ? page.previousService.name
                          : "Sunday Service"}
                      </h3>
                    </div>
                  </div>
                </a>
              </div>
            ) : (
              <div />
            )
          }
          {
            page.nextService ? (
              <div class="flex" data-more="next">
                <p class="small-title">Next Service</p>
                <a
                  href={`/worship/services/${page.nextService.slug}`}
                  class="service-wrapper"
                >
                  <div class="flow">
                    <div class="text">
                      <div class="small-title category">
                        {joinTypes(page.nextService.serviceType)}
                      </div>
                      <h3 class="text-step-2">
                        {page.nextService.name
                          ? page.nextService.name
                          : "Sunday Service"}
                      </h3>
                    </div>
                  </div>
                  <div class="date-label-wrapper">
                    <time class="date-label" datetime={page.nextService.date}>
                      <div class="event-day font-header">
                        {DateTime.fromISO(page.nextService.date)
                          .setZone("America/Los_Angeles")
                          .toFormat("d")}
                      </div>
                      <div class="small-title">
                        {DateTime.fromISO(page.nextService.date)
                          .setZone("America/Los_Angeles")
                          .toFormat("LLL")}
                      </div>
                    </time>
                    <Image src={bgImage} alt="" />
                  </div>
                </a>
              </div>
            ) : (
              <div />
            )
          }
        </div>
      </div>
    </article>
  </main>
</Layout>

<style>
  .breadcrumb-wrapper {
    position: absolute;
    z-index: 10;
    padding-inline-start: var(--space-l);
    top: 1rem;
    width: fit-content;
  }

  .content {
    margin-block: var(--section-spacer-half);
  }

  .eyebrow {
    font-variant-numeric: lining-nums;
    color: var(--color-primary-800);
  }

  .content.flow {
    --flow-space: var(--space-m);
  }

  .small-title.category {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary-800);
    line-height: 1;
    padding: 4px 6px;
    margin-bottom: 8px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
    transition: all 0.2s ease;
  }

  .small-title.category:hover {
    color: var(--color-white);
    background-color: var(--color-primary-800);
  }

  .page-links {
    padding-top: 1rem;
  }

  .more a.service-wrapper {
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: var(--rounded-corners);
    border: 2px solid transparent;
    transition: all 0.2s ease;
  }

  .more a.service-wrapper:hover {
    box-shadow: var(--shadow-large);
  }

  .more .date-label-wrapper {
    position: relative;
    border-radius: var(--rounded-corners);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-primary-100);
    overflow: hidden;
  }

  .more .date-label {
    position: relative;
    padding: 1rem;
    z-index: 2;
  }

  .more .date-label-wrapper img {
    position: absolute;
    z-index: 1;
    inset: 0;
    border-radius: var(--rounded-corners);
    filter: saturate(0);
    opacity: 1;
    mix-blend-mode: overlay;
  }

  .more .event-day {
    font-size: var(--step-5);
    color: var(--color-primary-800);
    line-height: 1;
  }

  .more .date-label .small-title {
    margin-top: 3px;
    color: var(--color-primary-800);
  }

  .more .small-title.category {
    font-size: 13px;
    display: inline-block;
    color: var(--color-primary-800);
    line-height: 1;
    padding: 4px 6px;
    margin-bottom: 8px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
  }

  .more .text-step-2 {
    margin-top: -1px;
  }

  .more .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .more .flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .more .flex[data-more="next"] {
    align-items: flex-end;
  }

  .more .flex[data-more="next"] a.service-wrapper {
    grid-template-columns: 3fr 1fr;
  }

  .more .flex[data-more="next"] a.service-wrapper .text {
    text-align: right;
  }
</style>
