---
import Layout from "../../../layouts/Layout.astro";
import BreacrumbAuto from "../../../components/BreadcrumbAuto.astro";
import InnerHero from "../../../components/InnerHero.astro";
import ImageCard from "../../../components/ImageCard.astro";
import ContactAvatar from "../../../components/ContactAvatar.astro";
import Button from "../../../components/Button.astro";
import MoreLikeThis from "../../../components/MoreLikeThis.astro";
import { urlFor } from "../../../lib/sanity";
import { DateTime } from "luxon";
import { randomizeAndSlice, filterAgainst } from "../../../utils/data";
import { defaultImage } from "../../../lib/settings";

import { PortableText } from "astro-portabletext";
import { joinNames } from "../../../utils/format";

import MiniPreviewCard from "../../../components/MiniPreviewCard.astro";
import { allMinistries, previewMinistries } from "../../../lib/ministries";

export async function getStaticPaths() {
  const pages = allMinistries;

  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}

const { slug } = Astro.params;
const { page } = Astro.props;

const breadcrumbs = [
  {
    name: "Connect",
    href: "/connect",
  },
  {
    name: "Ministries",
    href: "/connect/ministries",
  },
  {
    name: page.name,
    current: true,
  },
];

const otherMinistries = previewMinistries;
const filteredMinistries = filterAgainst(otherMinistries, "ministryType", page);
const randomizedMinistries = randomizeAndSlice(filteredMinistries, 3);
---

<Layout
  meta={{
    title: `${page.name} | ${page.ministryType}`,
    description: page.preview,
    openGraph: {
      title: `${page.name} | ${page.ministryType}`,
      description: page.preview,
      image: page.image,
    },
  }}
  title={page.name}
  description={page.preview}
>
  <main slot="main">
    <InnerHero pageTitle={page.name} pageDescription={page.preview}>
      <Fragment slot="breadcrumbs">
        <BreacrumbAuto
          navigation={breadcrumbs}
          className="breadcrumb-wrapper"
        />
      </Fragment>
      <div slot="eyebrow" class="eyebrow cluster" style="margin-bottom: -1rem;">
        <a
          class="small-title heading-category"
          href={`/connect/ministries#${page.typeSlug}`}
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="12"
            width="12"
            fill="var(--color-primary-800)"
            viewBox="0 0 448 512"
            ><path
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
            ></path></svg
          >
          <span>{page.ministryType}</span>
        </a>
      </div>
    </InnerHero>
    <div class="content-wrapper with-sidebar">
      <article>
        <div slot="main-panel" class="main-panel flow">
          <img
            class="img"
            src={urlFor(page.image).width(900).height(640).auto("format").url()}
            alt={page.image.asset.altText || ""}
            width={900}
            height={640}
            style={`background-image: url(${page.image.asset.metadata.lqip})`}
            loading="lazy"
            decoding="async"
          />
          <PortableText value={page.description} />
        </div>
      </article>
      <div slot="sidebar" class="sidebar-content">
        {
          page.person && (
            <div>
              <ContactAvatar
                image={page.person.image || defaultImage}
                name={joinNames(page.person.name)}
                href={
                  page.person.contact.email &&
                  `mailto:${page.person.contact.email}`
                }
              />
            </div>
          )
        }
        {
          // Check if there are any associated events before rendering
          page.associatedEvents[0] && (
            <section class="associated-events flow">
              <h2 class="text-step-2">Associated Events</h2>
              <ul>
                {page.associatedEvents.map((event) => (
                  <li class="cluster">
                    <MiniPreviewCard
                      href={`/connect/events/${event.slug}`}
                      image={event.image || defaultImage}
                    >
                      <div class="text-step-1 font-header">{event.name}</div>
                      <time class="small-title" datetime={event.date}>
                        {DateTime.fromISO(event.date).toLocaleString(
                          DateTime.DATE_FULL
                        )}
                      </time>
                    </MiniPreviewCard>
                  </li>
                ))}
              </ul>
            </section>
          )
        }
      </div>
    </div>
    {
      randomizedMinistries.length != 0 && (
        <MoreLikeThis
          relatedContent={{
            heading: "Ministries",
            link: "/connect/ministries",
          }}
        >
          <ul class="responsive-grid">
            {randomizedMinistries.map((item) => (
              <li>
                <ImageCard
                  title={item.name}
                  description={item.preview}
                  image={item.image}
                  href={`/connect/ministries/${item.slug}`}
                />
              </li>
            ))}
          </ul>
        </MoreLikeThis>
      )
    }
  </main>
</Layout>

<style>
  .cta {
    margin-block: var(--section-spacer-half);
  }

  .content-wrapper.with-sidebar {
    --sidebar-gap: 5rem;
    padding-block: var(--space-3xl);
  }

  .main-panel.flow {
    --flow-space: 3rem;
  }

  .header.flow {
    --flow-space: 2rem;
  }

  .breadcrumb-wrapper {
    position: absolute;
    z-index: 10;
    padding-inline-start: var(--space-l);
    top: 1rem;
    width: fit-content;
  }

  .frame {
    --width: 7;
    --height: 5;
    border-radius: var(--rounded-corners);
  }

  .img {
    border-radius: var(--rounded-corners);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .eyebrow.cluster {
    margin-bottom: 0.75rem;
  }

  .eyebrow > :last-child {
    font-variant-numeric: lining-nums;
    color: var(--color-primary-800);
  }

  .featured-image {
    border-radius: var(--rounded-corners);
  }

  .small-title.heading-category {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--color-primary-800);
    width: fit-content;
    line-height: 1;
    padding: 6px 9px;
    background-color: var(--color-primary-200);
    border-radius: var(--rounded-corners-small);
    transition: all 0.2s ease;
  }

  .small-title.heading-category:hover {
    background-color: var(--color-primary-100);
  }

  .responsive-grid {
    --gap: 2rem;
    --item-min-width: 20rem;
    --item-max-width: 24rem;
  }

  .sidebar-content {
    padding-top: 1rem;
  }

  .associated-events {
    margin-top: 3rem;
  }

  .associated-events > :first-child {
    margin-bottom: 0.5rem;
  }

  .associated-events .text-step-1 {
    color: var(--color-primary-800);
    margin-bottom: -4px;
  }

  .associated-events li:hover .text-step-1 {
    text-decoration: underline;
  }

  .associated-events time {
    font-variant-numeric: lining-nums;
  }
</style>
