---
import Layout from "../../layouts/Layout.astro";
import SectionPage from "../../layouts/SectionPage.astro";
import IntroSection from "../../components/IntroSection.astro";
import { Image, Picture } from "@astrojs/image/components";
import InnerHero from "../../components/InnerHero.astro";
import { getSanityData, urlFor } from "../../lib/sanity";
import { PortableText } from "astro-portabletext";

import { getCurrentPage } from "../../lib/pages";

import placeholderImg from "../../assets/images/church-ext-2.jpg";
// import bgImage from "../../assets/images/easter-flowers.jpg";

const introHeadline = "Engaging our resources to demonstrate Christ's love.";
const introText = `<p>Mission is the core identity of every Christian and every church; it’s the purpose of the church and not a program of the church. Currently, the reach of SMCC’s God-given creativity, imagination, time, talent, and resources extends from the San Gabriel Valley, across the nation and beyond, to global strategic partners on four continents.</p><p>The goal of the Mission Team is to fully engage all of the church’s resources to demonstrate Christ’s love for the world.</p>`;

const missions = await getSanityData(
  `*[_type == 'mission'] | order(name asc) {
  ...,
  "image": image.asset->
}`
);

// const currentPage = getCurrentPage("210cb910-f147-410f-bd0f-c23a6096028b");
---

<SectionPage
  currentPage={"210cb910-f147-410f-bd0f-c23a6096028b"}
  localNavSection={"Connect"}
  contentPadding
>
  <!-- <IntroSection title={introHeadline} image={placeholderImg} frame="1:1">
    <Fragment set:html={introText} />
  </IntroSection> -->
  <div class="mission-list">
    {
      missions.map((mission) => (
        <article class="mission flow">
          <img src={urlFor(mission.image).width(200).url()} width={200} />
          <h3 class="text-step-2">{mission.name}</h3>
          <PortableText value={mission.description} class="text-step--1" />
        </article>
      ))
    }
  </div>
</SectionPage>
<style>
  .mission-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }

  .mission.flow {
    --flow-space: 1.5rem;
  }
</style>
