---
import "@styles/rich-text.css";
import { addMonth, format, isAfter, tzDate } from "@formkit/tempo";
import BreadcrumbAuto from "@components/BreadcrumbAuto.astro";
import Button from "@components/Button.astro";
import Category from "@components/Category.astro";
import ContactAvatar from "@components/ContactAvatar.astro";
import ImageBlock from "@components/modules/portableTextBlocks/ImageBlock.astro";
// import InlineEvent from "@components/InlineEvent.astro";
import Layout from "@layouts/Layout.astro";
// import MiniPreviewCard from "@components/MiniPreviewCard.astro";
import { PortableText } from "astro-portabletext";
import PostsList from "@components/posts/PostsList.astro";
import PreviewFeatureBlock from "@components/modules/portableTextBlocks/PreviewFeatureBlock.astro";
import SanityImage from "@components/SanityImage.astro";
import YoutubeBlock from "@components/modules/portableTextBlocks/YoutubeBlock.astro";
import { getCollection } from "astro:content";
// import bgImage from "@assets/images/church-ext-2.jpg";
import { joinNames } from "@utils/format";
import v from "voca";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    const allCategories = await getCollection("postCategories");
    const allPeople = await getCollection("people");

    return allPosts.map((page) => {
        return {
            params: {
                post: `resources/${v.lowerCase(page.data.slug)}`,
            },
            props: {
                page,
                posts: allPosts,
                categories: allCategories,
                people: allPeople,
            },
        };
    });
}

const { page, posts, categories, people } = Astro.props;

const postCategory = categories.find((c) => c.id === page.data.categoryRef);
const author = people.find((p) => p.id === page.data.authorRef);

const breadcrumbs = [
    {
        name: "Resources",
        href: "/resources",
    },
    {
        name: postCategory?.data.name ?? "",
        href: `/resources/${postCategory?.data.slug}`,
    },
    {
        name: page.data.name,
        current: true,
    },
];

// filter by same category & date within last 6 months
const now = new Date();
const relatedPosts = posts
    .filter(
        (post) =>
            post.data.name !== page.data.name &&
            post.data.categoryRef === page.data.categoryRef && isAfter(tzDate(post.data.date, "America/Los_Angeles"), addMonth(now, -6)),
    )
    .sort(() => Math.random() - 0.5)
    .slice(0, 3);
---

<Layout
    meta={{
        title: page.data.seo.title ?? page.data.name,
        description: page.data.seo.description ?? page.data.preview,
        ogTitle: page.data.seo.ogTitle ?? page.data.seo.title ?? page.data.name,
        ogDescription:
            page.data.seo.ogDescription ??
            page.data.seo.description ??
            page.data.preview,
        ogImage: page.data.seo.ogImage,
    }}
>
    <main data-layout="detail" data-template="post" slot="main">
        <article>
            <BreadcrumbAuto navigation={breadcrumbs} />
            <div class="overlay"></div>
            <div class="content-wrapper">
                <header class="header flow">
                    <div>
                        <Category
                            href={`/resources/${postCategory?.data.slug}`}
                            name={postCategory?.data.name}
                            size="small"
                        />
                        <h1 class="text-step-5 heading">{page.data.name}</h1>
                    </div>
                    <div class="cluster info">
                        <time class="post-date" datetime={page.data.date}
                            >{
                                format(
                                    tzDate(
                                        page.data.date,
                                        "America/Los_Angeles",
                                    ),
                                    "long",
                                )
                            }</time
                        >
                        {
                            author && (
                                <ContactAvatar
                                    heading="Posted by"
                                    href={
                                        author.data.slug
                                            ? `/who-we-are/leadership/${author.data.slug}`
                                            : author.data.contact?.email
                                              ? `mailto:${author.data.contact.email}`
                                              : undefined
                                    }
                                    image={author.data.image}
                                    name={joinNames(author.data.name)}
                                    size="small"
                                />
                            )
                        }
                    </div>
                    <p class="text-step-1"><em>{page.data.preview}</em></p>
                </header>
                {
                    page.data.image && (
                        <SanityImage
                            alt={page.data.image?.asset.altText || ""}
                            aspectRatio={[16, 9]}
                            class:list={["image"]}
                            source={page.data.image}
                            width={1200}
                        />
                    )
                }
                <div class="rich-text">
                    <PortableText
                        components={{
                            type: {
                                image: ImageBlock,
                                previewFeature: PreviewFeatureBlock,
                                youtube: YoutubeBlock,
                                // event: InlineEvent,
                            },
                        }}
                        value={page.data.richContent}
                    />
                </div>
            </div>
            <section class="related-section" id="related-content">
                <div class="content-wrapper">
                    <div class="related-content flow">
                        {relatedPosts.length > 0 && (
                            <h2 class="text-step-3">Explore Related Posts</h2>
                            <PostsList posts={relatedPosts} />
                        )}
                        <div class="center-items">
                            <Button
                                href={`/resources/${v.lowerCase(postCategory?.data.slug)}`}
                            >
                                See all {postCategory?.data.name} Posts
                            </Button>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</Layout>

<style>
    .relative {
        position: relative;
    }

    .heading {
        margin-top: 9px;
    }

    .content-wrapper {
        padding-block: var(--space-3xl);
    }

    .cluster.info {
        --cluster-space: 3rem;
    }

    .image {
        border-radius: var(--rounded-corners);
        margin-block: var(--space-2xl);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header p {
        max-width: var(--paragraph-measure);
    }

    .post-date {
        font-variant-numeric: lining-nums;
        font-family: var(--font-secondary);
        font-weight: var(--font-weight-semi);
        font-size: var(--step--1);
        letter-spacing: 1.5pt;
        text-transform: uppercase;
    }

    .overlay {
        position: absolute;
        -webkit-mask-image: linear-gradient(to bottom, black, transparent 60%);
        mask-image: linear-gradient(to bottom, black, transparent 60%);
        inset: 0;
        z-index: -1;
        height: 350px;
        opacity: 0.05;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%230a3d8f' fill-opacity='1'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    .header.flow {
        --flow-space: 2rem;
    }

    .header {
        align-items: center;
    }

    .header :not(.info) {
        text-align: center;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 2rem;
    }

    .breadcrumb-wrapper {
        position: relative;
        z-index: 10;
        padding-inline-start: var(--space-l);
        top: 1rem;
        width: fit-content;
    }

    .related-section {
        padding-block: var(--space-3xl);
        background-color: var(--color-primary-50);

        & .content-wrapper {
            padding-block: 0;
        }
    }

    .related-content {
        --flow-space: 2.5rem;
    }

    @media (max-width: 768px) {
        .breadcrumb-wrapper {
            padding-inline-start: 1rem;
        }

        .highlight-section {
            padding-block: var(--space-xl);
        }

        .related-content {
            --flow-space: 2rem;
        }
    }

    @media (max-width: 640px) {
        .cluster.info {
            flex-direction: column;
            --align: center;
            --cluster-space: 1rem;
        }
    }
</style>
