---
import Layout from "../../layouts/Layout.astro";
import PostCategory from "../../components/PostCategory.astro";
import PostList from "../../components/PostList.astro";
import { allPostTypes } from "../../lib/posts";

export async function getStaticPaths() {
  const pages = allPostTypes;

  return pages.map((page) => {
    return {
      params: { category: page.slug },
      props: { page },
    };
  });
}

const { slug } = Astro.params;
const { page } = Astro.props;
---

<Layout
  meta={{
    title: `${page.name} Resources`,
    description: `View ${page.name} resources.`,
  }}
>
  <main slot="main">
    <section class="hero center-items flow">
      <div class="small-title">San Marino Community Church</div>
      <h1 class="text-step-6 heading">{`Resources: ${page.name}`}</h1>
      <ul class="cluster types">
        <li>
          <PostCategory
            href="/resources"
            size="large"
            position="relative"
            name="All"
          />
        </li>
        {
          allPostTypes.map((type, index) => {
            return (
              <li>
                <PostCategory
                  href={`/resources/${type.slug}`}
                  size="large"
                  position="relative"
                  name={type.name}
                  theme={type.theme}
                />
              </li>
            );
          })
        }
      </ul>
    </section>
    <article class="content-wrapper flow">
      <PostList posts={page.posts} />
    </article>
  </main>
</Layout>

<style>
  .hero {
    position: relative;
    padding-top: 6rem;
    color: var(--color-primary-200);
    padding-bottom: var(--space-2xl);
    background: linear-gradient(
      to bottom right,
      var(--color-primary-800),
      var(--color-primary-900)
    );
  }
  .hero .heading {
    color: var(--color-primary-50);
  }

  .hero.flow {
    --flow-space: 0.5rem;
  }

  .types {
    margin-top: 3rem;
  }

  .cluster.types {
    max-width: 50rem;
    justify-content: center;
  }

  article.content-wrapper {
    margin-block-start: var(--section-spacer-half);
    margin-block-end: var(--section-spacer);
  }

  .content-wrapper.flow {
    --flow-space: var(--space-3xl);
  }
</style>
