---
import IntroSection from "../components/IntroSection.astro";
import ImageLinks from "../components/ImageLinks.astro";
import { PortableText } from "astro-portabletext";
import { isOdd } from "../utils/data";

const { content } = Astro.props;
const { visionStatement, textAndImageBlocks } = content;
const { vision, mission, sectionHeading } = visionStatement;
---

<Fragment>
  <div class="content flow">
    <div>
      <h2 class="small-title center-items">{vision.heading}</h2>
      <div class="center-items text-step-1 paragraphs mx-auto">
        {vision.text}
      </div>
    </div>
    <div>
      <h2 class="small-title center-items">{mission.heading}</h2>
      <div class="center-items text-step-1 paragraphs mx-auto">
        {mission.text}
      </div>
      <div class="spacer"><ImageLinks links={mission.links} /></div>
      <div class="center-items text-step-1 paragraphs mx-auto">
        {mission.textAfter}
      </div>
    </div>
  </div>
  <div class="content flow" id="principles">
    <h2 class="text-step-4 center-items">{sectionHeading}</h2>
    {
      textAndImageBlocks &&
        textAndImageBlocks.map((section, index) => {
          return (
            <IntroSection
              title={section.heading}
              mediaType={section.mediaType}
              media={section.media}
              image={section.image}
              layout={isOdd(index) ? "flipped" : ""}
            >
              <PortableText value={section.text} />
            </IntroSection>
          );
        })
    }
  </div>
</Fragment>

<style>
  .content.flow {
    --flow-space: var(--space-3xl);
  }

  .small-title {
    margin-bottom: 1.25rem;
  }

  .spacer {
    margin-block: var(--space-xl);
  }

  #principles {
    margin-top: var(--space-3xl);
  }

  #principles ul {
    list-style-type: disc;
    margin-inline-start: 1rem;
  }
</style>
