---
import { urlFor } from "../lib/sanity";
import { joinNames } from "../utils/format";
import placeholderImg from "../assets/images/church-ext-4.jpg";

const {
  image,
  imageAlt,
  heading = "Contact",
  name,
  href,
  size = "large",
} = Astro.props;
---

<div
  class="contact flex"
  style={`--gap-space: ${size == "small" ? "0.75rem" : ""}`}
>
  {
    image ? (
      <div
        class="frame square"
        style={`--frame-size: ${size == "small" ? "3rem" : "5rem"}`}
      >
        <img src={urlFor(image).width(200).url()} alt={name} width={200} />
      </div>
    ) : (
      <div
        class="frame square"
        style={`--frame-size: ${size == "small" ? "3rem" : "5rem"}`}
      >
        <img src={placeholderImg} alt={name} width={200} />
      </div>
    )
  }
  <div>
    <div class="small-title">{heading}</div>
    {
      href ? (
        <a href={href} class="text-step--1">
          {name}
        </a>
      ) : (
        <div class="text-step--1">{name}</div>
      )
    }
  </div>
</div>

<style>
  .contact .frame.square {
    border-radius: 9999px;
    width: var(--frame-size);
    height: var(--frame-size);
  }

  .contact.flex {
    gap: var(--gap-space, 1.5rem);
    align-items: center;
  }

  .small-title {
    color: var(--color-primary-800);
    margin-bottom: 3px;
  }
</style>
