---
import { urlFor } from "../lib/sanity";
import { Image } from "astro:assets";
import { DateTime } from "luxon";

const { content } = Astro.props;
---

<div class="featured-announcement-banner">
  <div class="grid">
    <div class="about | flow">
      <i class="fa-duotone fa-info-circle fa-lg" style="var(--svg-fill)"></i>
      <h2 class="text-step-3">{content.title}</h2>
      <p>{content.description}</p>
    </div>
    {
      content.items &&
        content.items.map((item) => {
          const itemType = item.refType;
          const eventSlugParent = "/connect/events";
          const resourceSlugParent = "/resources";
          const readableDate = DateTime.fromISO(item.date)
            .setZone("America/Los_Angeles")
            .toLocaleString(DateTime.DATE_MED);

          return (
            <a
              class="announcement-link"
              href={
                itemType == "event"
                  ? `${eventSlugParent}/${item.slug}`
                  : `${resourceSlugParent}/${item.slug}`
              }
            >
              <div class="relative | flow">
                {itemType == "event" ? (
                  <p class="small-title">
                    {readableDate} <span>•</span> Event
                  </p>
                ) : (
                  <p class="small-title">{item.type}</p>
                )}
                <h3 class="text-step-2">{item.name}</h3>
                <div class="cluster">
                  <p>Learn More</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    width="14"
                    height="14"
                    fill="var(--svg-fill)"
                    class="astro-5ac3tuzn"
                  >
                    <path
                      d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z"
                      class="astro-5ac3tuzn"
                    />
                  </svg>
                </div>
              </div>
              <div class="overlay" />
              <Image
                src={urlFor(item.image)
                  .width(800)
                  .height(600)
                  .auto("format")
                  .url()}
                width={800}
                height={600}
                alt={item.image.asset.altText || item.name || ""}
                format="webp"
                style={`background-image: url(${item.image.asset.metadata.lqip})`}
              />
            </a>
          );
        })
    }
  </div>
  <div class="bg-overlay"></div>
</div>

<style>
  .featured-announcement-banner {
    position: relative;
    z-index: 3;
    width: 100%;
    text-align: left;
    overflow: hidden;
    bottom: calc(var(--space-xl) * -1);
    margin-block: var(--space-m);
    /* bottom: -1rem;
    left: 50%;
    transform: translateX(-50%); */
    background: var(--color-white);
    color: var(--color-body-text);
    border-radius: var(--rounded-corners);
    padding: var(--space-m);
    box-shadow: var(--shadow-large);

    & .about {
      align-self: center;
      padding-inline-end: var(--space-s);
      flex-basis: max(25%, 400px);

      &.flow {
        --flow-space: 0.5rem;
      }

      & svg {
        align-self: flex-start;
        color: var(--color-primary-500);
      }
    }

    & .announcement-link {
      position: relative;
      overflow: hidden;
      border-radius: var(--rounded-corners-small);
      padding: var(--space-s);
      color: var(--color-primary-200);
      text-decoration: none;
      min-height: 10rem;
      flex-grow: 1;
      transition: all 0.2s ease;

      & .relative {
        z-index: 2;
      }

      & .flow {
        --flow-space: 0.5rem;
      }

      & h3 {
        text-decoration: underline;
        color: var(--color-primary-50);
      }

      & .overlay {
        position: absolute;
        z-index: 1;
        inset: 0;
        background: linear-gradient(to bottom right, #172554f0 40%, #1e3b8a3b);
        opacity: 1;
        transition: opacity 0.5s ease;
      }

      & img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        margin: 0;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: transform 0.3s ease;
      }

      & .cluster {
        --cluster-space: 0.5rem;
        --svg-fill: var(--color-primary-200);
      }

      /* &:hover {
            background: var(--color-primary-100);
        } */

      &:hover h3 {
        text-decoration: none;
      }

      &:hover img {
        transform: scale(1.05);
      }

      &:hover .overlay {
        opacity: 0.4;
      }
    }

    & .small-title {
      font-variant-numeric: lining-nums;

      & span {
        margin-inline: 0.5rem;
        color: var(--color-primary-50);
      }
    }
  }

  .grid {
    display: flex;
    gap: 1rem;
    /* align-items: center; */
  }

  .bg-overlay {
    position: absolute;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150' viewBox='0 0 80 80'%3E%3Cpath fill='%230a3d8f' fill-rule='evenodd' d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0v-.06c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06v-2.89l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58 7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44 1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92 1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13 60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78 9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65A39.83 39.83 0 0 1 2.74 39.9l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96 9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54 6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z'/%3E%3C/svg%3E");
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.07;
    width: 25%;
    height: 100%;
    mask-image: linear-gradient(90deg, #000, transparent);
  }

  @media (max-width: 840px) {
    .grid {
      flex-wrap: wrap;
    }

    .featured-announcement-banner {
      & .about {
        flex-basis: 100%;
      }
    }
  }

  @media (max-width: 640px) {
    .featured-announcement-banner {
      & .announcement-link {
        min-height: 0;
      }
    }

    .bg-overlay {
      width: 100%;
      height: 30%;
      mask-image: linear-gradient(to bottom, #000, transparent);
    }
  }
</style>
