---
import Button from "./Button.astro";
import FeaturedAnnouncement from "./FeaturedAnnouncement.astro";
import { urlFor } from "../lib/sanity";

const { hero, fallbackImg } = Astro.props;

const { eyebrow, header, description, links, featuredAnnouncement, media } =
  hero;
const link1 = links[0];
const link2 = links[1];
---

<article class="hero">
  <div class="content-wrapper flow">
    <div>
      <p class="small-title">{eyebrow}</p>
      <h1 class="text-step-8 color-white">{header}</h1>
    </div>
    <p>{description}</p>
    <div class="cluster">
      <Button
        href={link1.href.sectionSlug
          ? link1.href.pageSlug.fullUrl
          : link1.href.pageSlug.current}
        theme="white"
      >
        {link1.name}
      </Button>
      {
        link2 && (
          <a
            href={
              link2.href.sectionSlug
                ? link2.href.pageSlug.fullUrl
                : link2.href.pageSlug.current
            }
            class="text-step--1"
          >
            {link2.name}
          </a>
        )
      }
    </div>
    {
      featuredAnnouncement && (
        <FeaturedAnnouncement content={featuredAnnouncement} />
      )
    }
  </div>
  <div class="video-controls cluster">
    <Button
      style="none"
      theme="primary-light"
      className="icon-wrapper"
      id="playButton"
    >
      <span class="text-step--1">Pause</span>
      <i class="fa-duotone fa-play-pause"></i>
    </Button>
  </div>
  <div class="hero-bg">
    <div class="overlay"></div>
    <video
      playsinline
      autoplay
      controls
      muted
      loop
      poster={urlFor(fallbackImg).width(1200).height(675).auto("format").url()}
      title="Panning aerial view of San Marino Community Church."
      id="home-video"
    >
      <source src="/drone-test.mp4" type="video/mp4" />
    </video>
  </div>
</article>

<style>
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    min-height: clamp(70vh, 45rem, 80vh);
    padding-block-start: var(--space-3xl);
    padding-block-end: var(--space-3xl);
  }

  .flow {
    --flow-space: var(--space-m);
    align-items: center;
  }

  .video-controls {
    position: absolute;
    z-index: 25;
    right: 3rem;
    top: 2rem;
    color: white;
  }

  .icon-wrapper:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .content-wrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    color: var(--color-white);
  }

  .content-wrapper p {
    max-width: 66ch;
  }

  .hero-bg {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .hero-bg .overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .hero-bg video {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
  }

  .hero-bg img {
    position: relative;
    object-fit: cover;
    z-index: 0;
  }
</style>

<script>
  const video = document.getElementById("home-video") as HTMLVideoElement;
  const playButton = document.querySelector("#playButton");
  const buttonText = playButton.children[0];
  let playState = true;

  playButton.addEventListener("click", () => {
    if (!playState) {
      video.play();
    } else {
      video.pause();
    }
    playState = !playState;
    buttonText.textContent = playState ? "Pause" : "Play";
  });
</script>
