---
import Button from "./Button.astro";
import PopoverHeader from "./Svelte/PopoverHeader.svelte";

const { mainNavigation, fullNavigation } = Astro.props;
---

<header class="header">
  <PopoverHeader client:load>
    <a slot="logo" href="/" class="font-header logo"
      >San Marino Community Church</a
    >
    <nav slot="mainNav" class="main-nav">
      <ul class="cluster">
        {
          mainNavigation.map((navItem) => (
            <li>
              <Button
                href={`/${navItem.href}`}
                style={!navItem.button ? "nav" : "outline"}
                theme={!navItem.button ? "neutral" : "primary"}
              >
                {navItem.name}
              </Button>
            </li>
          ))
        }
      </ul>
    </nav>
    <Fragment slot="headerCTAButton">
      <Button href="/" theme="secondary">Give</Button>
    </Fragment>
    <div slot="panel">
      <div class="nav-grid">
        <div class="nav-subgrid">
          {
            fullNavigation.map(
              (navItem) =>
                navItem.name !== "Utility" && (
                  <div class="flow">
                    {navItem.img && (
                      <a
                        href={`/${navItem.slug}/${navItem.children[0].slug}`}
                        class="img-link"
                      >
                        <div class="overlay" />
                        <img
                          src={navItem.img}
                          alt=""
                          width={300}
                          height={200}
                          class="nav-img"
                        />
                      </a>
                    )}
                    <div class="small-title">{navItem.name}</div>
                    <ul class="flow">
                      {navItem.children.map((navChild) => (
                        <li>
                          <a href={`/${navItem.slug}/${navChild.slug}`}>
                            {navChild.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  </div>
                )
            )
          }
        </div>
        <div class="nav-utilities flow">
          {
            fullNavigation.map(
              (navItem) =>
                navItem.name === "Utility" && (
                  <ul class="flow">
                    {navItem.children.map((navChild) => (
                      <li class="utility-item">
                        <a href={`/${navItem.slug}/${navChild.slug}`}>
                          <div class="small-title">{navChild.name}</div>
                          <p>{navChild.description}</p>
                        </a>
                      </li>
                    ))}
                  </ul>
                )
            )
          }
        </div>
      </div>
    </div>
  </PopoverHeader>
</header>

<style>
  .logo {
    color: var(--color-primary-800);
  }

  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

  .header.cluster {
    --justify: space-between;
  }

  .main-nav .cluster {
    --justify: center;
  }

  .main-nav .cluster :last-child {
    margin-inline-end: 1rem;
  }

  .full-nav {
    background-color: var(--color-white);
    height: auto;
    overflow: hidden;
  }

  .full-nav-wrapper {
    display: block;
    opacity: 1;
  }

  .menu-toggle {
    padding: 0;
    border: 0;
    margin: 0;
    appearance: none;
    background-color: transparent;
  }

  .nav-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
  }

  .nav-grid > :first-child {
    grid-column: span 5;
  }

  .nav-grid > :last-child {
    grid-column: span 2;
    background-color: var(--color-primary-100);
  }

  .nav-grid .small-title {
    color: var(--color-primary-800);
  }

  .nav-grid .flow {
    --flow-space: 1rem;
  }

  .nav-grid ul.flow {
    --flow-space: 0.5rem;
  }

  .nav-grid ul {
    font-size: var(--step--1);
    margin-left: -6px;
  }

  .nav-grid ul a {
    text-decoration: none;
    padding: 5px 6px 2px 6px;
    background: transparent;
    border-radius: 4px;
  }

  .nav-grid ul a:hover {
    background: var(--color-primary-100);
    color: var(--color-primary-800);
  }

  .nav-img {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: var(--rounded-corners);
  }

  .img-link {
    position: relative;
  }

  .img-link .overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--color-primary-700);
    border-radius: var(--rounded-corners);
    mix-blend-mode: multiply;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .img-link:hover .overlay {
    opacity: 0.7;
  }

  .img-link:hover .nav-img {
    filter: saturate(0);
  }

  .nav-subgrid,
  .nav-utilities {
    padding-block-start: 8rem;
    padding-block-end: 4rem;
  }

  .nav-subgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding-inline-start: 2rem;
  }

  .nav-utilities {
    padding-inline: 3rem;
  }

  .nav-utilities ul.flow {
    --flow-space: 0.5rem;
  }
  
  .nav-utilities ul a {
    transition: background-color 0.2s ease;
    padding: 12px;
  }

  .nav-utilities ul a:hover {
    background: var(--color-primary-200);
  }

  .utility-item a {
    display: inline-block;
    padding
  }

  .utility-item p {
    font-size: var(--step--2);
    margin-top: 6px;
  }

  @media (max-width: 768px) {
    .main-nav {
      display: none;
    }

    .nav-grid, .nav-subgrid {
      grid-template-columns: 1fr;
    }
  }

</style>
