---
import { Picture } from "@astrojs/image/components";

import image1 from "../assets/images/easter-cross.jpg";
import image2 from "../assets/images/grounds.jpg";
import image3 from "../assets/images/outside-stained-glass.jpg";
import image4 from "../assets/images/people.jpg";

const svg1 = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" aria-hidden="true" width="32" height="32" fill="var(--svg-fill)"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M320 0c13.3 0 24 10.7 24 24V48h32c13.3 0 24 10.7 24 24s-10.7 24-24 24H344v46.4L456.7 210c14.5 8.7 23.3 24.3 23.3 41.2V512H384V416c0-35.3-28.7-64-64-64s-64 28.7-64 64v96H160V251.2c0-16.9 8.8-32.5 23.3-41.2L296 142.4V96H264c-13.3 0-24-10.7-24-24s10.7-24 24-24h32V24c0-13.3 10.7-24 24-24z"/><path class="fa-secondary" d="M160 256L24.9 330.3C9.5 338.8 0 354.9 0 372.4V464c0 26.5 21.5 48 48 48H160V256zM480 512H592c26.5 0 48-21.5 48-48V372.4c0-17.5-9.5-33.6-24.9-42.1L480 256V512z"/></svg>`;

const svg2 = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" aria-hidden="true" width="32" height="32" fill="var(--svg-fill)"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M278.8 .7c3.5 .8 6.9 2.1 10 4.1c7.5 4.6 12.4 11.9 14.3 19.9c1.1 4.6 1.2 9.4 .1 14.1c-.7 3.2-1.9 6.3-3.6 9.3L213.3 199.3c-3.5 6-5.3 12.9-5.3 19.8V304c0 8.8 7.2 16 16 16s16-7.2 16-16V224c0-17.7 14.3-32 32-32s32 14.3 32 32V342.2c0 58-39 108.7-95 123.7l-168.7 45c-9.6 2.6-19.9 .5-27.7-5.5S0 489.9 0 480V384c0-13.8 8.8-26 21.9-30.4l79.2-26.4c6.5-2.2 10.9-8.3 10.9-15.2V238.5c0-15.8 4.7-31.2 13.4-44.4L245.2 14.5c4.6-7.1 11.7-11.8 19.4-13.6c4.6-1.1 9.4-1.2 14.1-.1z"/><path class="fa-secondary" d="M361.2 .7c-3.5 .8-6.9 2.1-10 4.1c-7.5 4.6-12.4 11.9-14.3 19.9c-1.1 4.6-1.2 9.4-.1 14.1c.7 3.2 1.9 6.3 3.6 9.3l86.4 151.2c3.5 6 5.3 12.9 5.3 19.8V304c0 8.8-7.2 16-16 16s-16-7.2-16-16V224c0-17.7-14.3-32-32-32s-32 14.3-32 32V342.2c0 58 39 108.7 95 123.7l168.7 45c9.6 2.6 19.9 .5 27.7-5.5s12.5-15.4 12.5-25.4V384c0-13.8-8.8-26-21.9-30.4l-79.2-26.4c-6.5-2.2-10.9-8.3-10.9-15.2V238.5c0-15.8-4.7-31.2-13.4-44.4L394.8 14.5C390.1 7.4 383.1 2.7 375.4 .9c-4.6-1.1-9.4-1.2-14.1-.1z"/></svg>`;

const svg3 = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" aria-hidden="true" width="32" height="32" fill="var(--svg-fill)"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/><path class="fa-secondary" d="M609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"/></svg>`;

const svg4 = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" aria-hidden="true" width="32" height="32" fill="var(--svg-fill)"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-primary" d="M559.7 360.2c17.8-13.1 21.6-38.1 8.5-55.9s-38.1-21.6-55.9-8.5L392.6 384H272c-8.8 0-16-7.2-16-16s7.2-16 16-16h16 64c17.7 0 32-14.3 32-32s-14.3-32-32-32H288 272 193.7c-29.1 0-57.3 9.9-80 28L68.8 352H32c-17.7 0-32 14.3-32 32v64c0 17.7 14.3 32 32 32H192 352.5c29 0 57.3-9.3 80.7-26.5l126.6-93.3zm-366.1-8.3a.5 .5 0 1 1 -.9 .1 .5 .5 0 1 1 .9-.1z"/><path class="fa-secondary" d="M16.3 151.8c-17.8 13.1-21.6 38.1-8.5 55.9s38.1 21.6 55.9 8.5L183.4 128H304c8.8 0 16 7.2 16 16s-7.2 16-16 16H288 224c-17.7 0-32 14.3-32 32s14.3 32 32 32h64 16 78.3c29.1 0 57.3-9.9 80-28l44.9-36H544c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H384 223.5c-29 0-57.3 9.3-80.7 26.5L16.3 151.8zm366.1 8.3a.5 .5 0 1 1 .9-.1 .5 .5 0 1 1 -.9 .1z"/></svg>`;

const questions = [
  {
    text: "I’m New",
    href: "#",
    svg: svg1,
    image: image1,
    alt: "",
  },
  {
    text: "I Have a Prayer Request",
    href: "#",
    svg: svg2,
    image: image2,
    alt: "",
  },
  {
    text: "I'd Like Pastoral Call",
    href: "#",
    svg: svg3,
    image: image3,
    alt: "",
  },
  {
    text: "I Need Care",
    href: "#",
    svg: svg4,
    image: image4,
    alt: "",
  },
];
---

<section id="welcome-questions" class="content-wrapper">
  <h2 class="center-items">Questions? Reach out to receive assistance.</h2>
  <div class="responsive-grid">
    {
      questions.map((item) => (
        <a href={item.href} class="">
          <div class="relative">
            <Fragment set:html={item.svg} />
            <div class="cluster">
              <span>{item.text}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
                aria-hidden="true"
                width="18"
                height="18"
                fill="var(--svg-fill)"
                class="arrow"
              >
                <path d="M440.6 273.4c4.7-4.5 7.4-10.8 7.4-17.4s-2.7-12.8-7.4-17.4l-176-168c-9.6-9.2-24.8-8.8-33.9 .8s-8.8 24.8 .8 33.9L364.1 232 24 232c-13.3 0-24 10.7-24 24s10.7 24 24 24l340.1 0L231.4 406.6c-9.6 9.2-9.9 24.3-.8 33.9s24.3 9.9 33.9 .8l176-168z" />
              </svg>
            </div>
          </div>
          <div class="overlay" />
          <Picture
            src={item.image}
            alt={item.alt}
            widths={[600, 900]}
            sizes="100vw"
            class="img"
          />
        </a>
      ))
    }
  </div>
</section>

<style>
  .content-wrapper {
    margin-block: 6rem;
  }

  .center-items {
    font-size: var(--step-2);
    margin-bottom: 3rem;
  }

  .cluster {
    --cluster-space: 0.75rem;
    --align: center;
  }

  .relative {
    z-index: 1;
  }

  .responsive-grid {
    --item-min-width: 10rem;
  }

  .responsive-grid > a {
    position: relative;
    height: 24rem;
    text-decoration: none;
    border-radius: var(--rounded-corners);
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-header);
    font-size: var(--step-2);
    line-height: 1.15;
    padding: 2rem;
    transition: all 0.2s ease;
    color: var(--color-white);
    background-color: var(--bg-color);
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    --svg-fill: var(--color-white);
  }

  /* .responsive-grid > a:hover {
    color: var(--hover-color);
    background-color: var(--hover-bg-color);
    border-color: var(--border-color);
  } */

  svg {
    transition: transform 0.2s ease;
  }

  .arrow {
    position: relative;
    top: 1px;
  }

  .responsive-grid > :nth-child(2) .overlay {
    background: #115e59 /* #007580 */;
  }

  .responsive-grid > :nth-child(3) .overlay {
    background: #c06507 /* #ec871d */;
  }
  /* 
  .responsive-grid > :nth-child(1) {
    --color: var(--color-primary-800);
    --bg-color: var(--color-primary-100);
    --hover-color: var(--color);
    --hover-bg-color: var(--color-primary-200);
    --border-color: var(--color-primary-300);
    --svg-fill: var(--color);
  }

  .responsive-grid > :nth-child(2) {
    --color: var(--color-white);
    --bg-color: var(--color-secondary-500);
    --hover-color: var(--color);
    --hover-bg-color: var(--color-secondary-600);
    --border-color: var(--color-secondary-200);
    --svg-fill: var(--color);
  }

  .responsive-grid > :nth-child(3) {
    --color: var(--color-primary-800);
    --bg-color: var(--color-tertiary-200);
    --hover-color: var(--color);
    --hover-bg-color: var(--color-tertiary-300);
    --border-color: var(--color-tertiary-500);
    --svg-fill: var(--color);
  }

  .responsive-grid > :nth-child(4) {
    --color: var(--color-white);
    --bg-color: var(--color-primary-800);
    --hover-color: var(--color);
    --hover-bg-color: var(--color-primary-900);
    --border-color: var(--color-primary-400);
    --svg-fill: var(--color);
  } */

  .responsive-grid a:hover svg {
    transform: translateX(4px);
  }

  .responsive-grid a:hover .overlay {
    opacity: 1;
  }

  .responsive-grid a:hover .img {
    transform: scale(1.03);
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary-900);
    opacity: 0.9;
    mask-image: linear-gradient(to top, black, transparent);
    -webkit-mask-image: linear-gradient(to top, black, transparent);
    transition: all 0.2s ease;
  }

  .img {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: translate(-50%, -50%); */
    transition: all 0.4s ease;
    z-index: -1;
  }
</style>
