---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Feature from "../../components/Feature.astro";
import InnerHero from "../../components/InnerHero.astro";
import VideoTabs from "../../components/Svelte/VideoTabs.svelte";
import ServicesList from "../../components/ServicesList.astro";
import { getSanityData } from "../../lib/sanity";
import getYouTubeID from "get-youtube-id";
import Youtube from "svelte-youtube-embed";

import pastorHeadshot from "../../assets/images/jessica-vaughan-lower-headshot.jpg";

const pageTitle = "Worship Live";
const eyebrow = "San Marino Community Church";
const pageDescription = "";

const recentServices = await getSanityData(
  `*[_type == 'service'][0...3] | order(date desc)`
);
---

<Layout title={pageTitle}>
  <main slot="main">
    <section class="hero center-items flow">
      <div class="small-title">{eyebrow}</div>
      <h1 class="text-step-6">{pageTitle}</h1>
    </section>
    <article class="flow">
      <VideoTabs client:load>
        <!-- Tab button left -->
        <div slot="tab-1" class="video-tab flow">
          <div>
            <div class="small-title">9 am Sundays</div>
            <h2 class="text-step-2">Traditional Worship</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nulla
            quod recusandae quae corporis inventore.
          </p>
          <div class="underline">Watch Live</div>
        </div>
        <!-- Tab butotn right -->
        <div slot="tab-2" class="video-tab flow">
          <div>
            <div class="small-title">10 am Sundays</div>
            <h2 class="text-step-2">Contemporary Worship</h2>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nulla
            quod recusandae quae corporis inventore.
          </p>
          <div class="underline">Watch Live</div>
        </div>
        <!-- Tab panel 1 -->
        <article slot="panel-1" class="panel-1">
          <section class="video-wrapper">
            <div>
              <Youtube
                client:load
                id={getYouTubeID(
                  "https://www.youtube.com/live/uvlZYadH6-k?feature=share"
                )}
              />
            </div>
            <!-- <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/XyQNPvZUEP0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe> -->
          </section>
          <section class="content-wrapper service-wrapper with-sidebar">
            <div class="flow">
              <div>
                <div class="cluster">
                  <time class="small-title"
                    >April 9, 2023<span class="bullet-spacer">•</span>9:00 am</time
                  >
                  <div class="small-title category">Traditional</div>
                </div>
                <h3 class="text-step-4">Easter Sunday</h3>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                temporibus nemo ipsa ut libero eligendi, quasi ex magni vitae
                placeat!
              </p>
              <Button href="#" width="fit">Download Program</Button>
            </div>
            <div class="sidebar flex">
              <div class="frame square">
                <img src={pastorHeadshot} alt="" />
              </div>
              <div>
                <div class="small-title">Sermon by</div>
                <div class="text-step--1">Rev. Jessica Vaughan Lower</div>
              </div>
            </div>
          </section>
        </article>
        <!-- Tab panel 2 -->
        <article slot="panel-2" class="panel-2">
          <section class="video-wrapper">
            <div>
              <Youtube
                client:idle
                id={getYouTubeID(
                  "https://www.youtube.com/live/qdC-Zn9Zlbk?feature=share"
                )}
              />
            </div>
          </section>

          <section class="content-wrapper service-wrapper with-sidebar">
            <div class="flow">
              <div>
                <div class="cluster">
                  <time class="small-title"
                    >April 9, 2023<span class="bullet-spacer">•</span>10:00 am</time
                  >
                  <div class="small-title category contemporary">
                    Contemporary
                  </div>
                </div>
                <h3 class="text-step-4">Easter Sunday</h3>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
                temporibus nemo ipsa ut libero eligendi, quasi ex magni vitae
                placeat!
              </p>
              <Button href="#" width="fit">Download Program</Button>
            </div>
            <div class="sidebar flex">
              <div class="frame square">
                <img src={pastorHeadshot} alt="" />
              </div>
              <div>
                <div class="small-title">Sermon by</div>
                <div class="text-step--1">Rev. Jessica Vaughan Lower</div>
              </div>
            </div>
          </section>
        </article>
      </VideoTabs>
    </article>
    <section id="recent-services" class="content-wrapper flow">
      <h2 class="text-step-3">Recent Services</h2>
      <ServicesList services={recentServices} />
      <div class="center-items">
        <Button href="/worship/services">See All Services</Button>
      </div>
    </section>
  </main>
</Layout>

<style>
  .hero {
    position: relative;
    padding-top: 5rem;
    padding-bottom: var(--space-2xl);
  }

  .hero .small-title {
    color: var(--color-primary-500);
  }

  .hero.flow {
    --flow-space: 0.5rem;
  }

  .video-tab {
    padding: 2rem;
    border-radius: var(--rounded-corners);
  }

  .underline {
    text-decoration: underline;
    display: inline-block;
    width: fit-content;
  }

  .underline:hover {
    text-decoration: none;
  }

  .video-wrapper {
    background-color: var(--color-neutral-100);
    margin-block: var(--space-xl);
    display: flex;
    justify-content: center;
  }

  .panel-2 .video-wrapper {
    background-color: var(--color-secondary-100);
  }

  .video-wrapper > :first-child {
    aspect-ratio: 16/9;
    width: clamp(20rem, 50vw, 80%);
    height: auto;
  }

  .service-wrapper {
    margin-block: var(--space-2xl);
  }

  .bullet-spacer {
    color: var(--color-primary-300);
    margin-inline: 0.5rem;
  }

  .with-sidebar {
    --sidebar-gap: var(--section-spacer);
  }

  .with-sidebar > .flow:first-child {
    --flow-space: 2rem;
  }

  .sidebar .frame.square {
    border-radius: 9999px;
    width: 5rem;
    height: 5rem;
  }

  .sidebar.flex {
    gap: 1.5rem;
    align-items: center;
  }

  .small-title.category {
    font-size: 13px;
    display: inline-block;
    color: var(--color-primary-800);
    line-height: 1;
    padding: 4px 6px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
  }

  .small-title.category.contemporary {
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-600);
  }

  #recent-services {
    margin-top: 1rem;
    margin-bottom: 5rem;
    padding-top: 5rem;
    border-top: 1px solid var(--color-neutral-200);
  }
</style>
