---
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";
import Tabs from "../../components/React/Tabs.jsx";
import ServicesList from "../../components/ServicesList.astro";
import { getSanityData, urlFor } from "../../lib/sanity";
import { DateTime } from "luxon";
import { getCurrentPage } from "../../lib/pages";
import { latestService, allServices } from "../../lib/services";

const pageTitle = "Worship Live";
const eyebrow = "San Marino Community Church";
const pageDescription = "";
import bgImage from "../../assets/images/outside-stained-glass.jpg";

// const latestService =
//   await getSanityData(`*[_type == 'service'] | order(date desc)[0] {
//   ...,
//   serviceType[] {
//     ...,
//     preacher->{
//       name,
//       "image": image{
//         ...,
//         asset->
//       },
//       contact,
//       "type": type.mainType
//     }
//   }
// }`);

// const recentServices = await getSanityData(
//   `*[_type == 'service'] | order(date desc)[1...4] {
//     ...,
//     "slug": slug.current
//   }`
// );

const recentServices = allServices.slice(1, 4);

const currentPage = getCurrentPage("b92afa26-7f3c-4e63-8aa1-90a1b7a9fad2");
---

<Layout title={currentPage.seo.title}>
  <main slot="main">
    <section class="hero center-items flow">
      <div class="small-title">{eyebrow}</div>
      <h1 class="text-step-6">{currentPage.pageName}</h1>
      <div class="service-date">
        <time datetime={latestService.date}
          >{
            DateTime.fromISO(latestService.date)
              .setZone("America/Los_Angeles", { keepLocalTime: true })
              .toLocaleString(DateTime.DATE_HUGE)
          }</time
        >
      </div>
      <!-- <Picture
        src={bgImage}
        alt=""
        widths={[600, 1200, 1920]}
        sizes="100vw"
        aspectRatio="16:9"
        loading="eager"
        class="bg-image"
      /> -->
    </section>
    <article class="flow">
      <div class="live">
        <Tabs client:load service={latestService}>
          <div class="content-wrapper">something here</div>
        </Tabs>
      </div>
    </article>
    <section id="recent-services" class="content-wrapper flow">
      <h2 class="text-step-3">Recent Services</h2>
      <ServicesList services={recentServices} />
      <div class="center-items">
        <Button href="/worship/services">See All Services</Button>
      </div>
    </section>
  </main>
</Layout>

<style>
  .hero {
    position: relative;
    padding-top: 4rem;
    padding-bottom: var(--space-xl);
  }

  .hero .small-title {
    /* color: var(--color-primary-500); */
  }

  .hero.flow {
    --flow-space: 0.5rem;
  }

  .bg-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  /* .video-tab {
    padding: 2rem;
    border-radius: var(--rounded-corners);
  } */

  .underline {
    text-decoration: underline;
    display: inline-block;
    width: fit-content;
  }

  .underline:hover {
    text-decoration: none;
  }

  /* .video-wrapper {
    background-color: var(--color-neutral-100);
    margin-block: var(--space-xl);
    display: flex;
    justify-content: center;
  }

  .panel-2 .video-wrapper {
    background-color: var(--color-secondary-100);
  }

  .video-wrapper > :first-child {
    aspect-ratio: 16/9;
    width: clamp(20rem, 50vw, 80%);
    height: auto;
  } */

  /* .service-wrapper {
    margin-block: var(--space-2xl);
  }

  .service-wrapper h3 {
    margin-block: 0.5rem;
  }

  .time {
    font-variant-numeric: lining-nums;
  }

  .bullet-spacer {
    color: var(--color-primary-300);
    margin-inline: 0.25rem;
  }

  .with-sidebar {
    --sidebar-gap: var(--section-spacer);
  }

  .with-sidebar > .flow:first-child {
    --flow-space: 2rem;
  }

  .sidebar .frame.square {
    border-radius: 9999px;
    width: 5rem;
    height: 5rem;
  }

  .sidebar.flex {
    gap: 1.5rem;
    align-items: center;
  }

  .small-title.category {
    font-size: 13px;
    display: inline-block;
    color: var(--color-primary-800);
    line-height: 1;
    padding: 4px 6px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
  }

  .small-title.category.contemporary {
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-600);
  }
  */

  .service-date {
    margin-top: var(--space-m);
    font-size: var(--step-1);
    font-style: italic;
  }

  #recent-services {
    margin-top: 1rem;
    margin-bottom: 5rem;
    padding-top: 3rem;
    border-top: 1px solid var(--color-neutral-200);
  }

  #recent-services .center-items {
    padding-top: var(--space-l);
  }

  .blank {
    margin-block: var(--section-spacer);
  }
</style>
