---
import Layout from "../../../layouts/Layout.astro";
import PersonLayout from "../../../layouts/PersonLayout.astro";
import { allStaff, makeNameSlug } from "../../../lib/people";
import { PortableText } from "astro-portabletext";
import { urlFor } from "../../../lib/sanity";
import { joinNames, capitalizeFirstLetter } from "../../../utils/format";
// import "../../../styles/rich-text.css";

export async function getStaticPaths() {
  const pages = allStaff;

  return pages.map((page) => {
    return {
      params: { slug: makeNameSlug(page.name) },
      props: { page },
    };
  });
}

const { slug } = Astro.params;
const { page } = Astro.props;

const breadcrumbs = [
  {
    name: "Who We Are",
    href: "/who-we-are",
  },
  {
    name: "Leadership",
    href: "/who-we-are/leadership",
  },
  {
    name: joinNames(page.name),
    current: true,
  },
];

if (page.type === 'admin') {
  page.type = 'Administrative'
}
if (page.type === 'clergy') {
  page.type = 'Pastoral'
}
---

<PersonLayout
  title={`${joinNames(page.name)} | ${capitalizeFirstLetter(page.type)} Staff, San Marino Community Church`}
  name={`${joinNames(page.name)}`}
  featuredImage={page.image}
  breadcrumbs={breadcrumbs}
>
  <div slot="eyebrow" class="eyebrow">
    <a
      class="small-title heading-category"
      href={`/who-we-are/leadership`}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="12"
        width="12"
        fill="var(--color-primary-800)"
        viewBox="0 0 448 512"
        ><path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
        ></path></svg
      >
      <span>{`${capitalizeFirstLetter(page.type)} Staff`}</span>
    </a>
  </div>
  <div slot="main-panel" class="rich-text">
    <div class="role">{page.role}</div>
    <PortableText value={page.bio} />
  </div>
  <div slot="sidebar">
    {
      page.contact && (
        <div class="contact">
          <h2 class="small-title">Contact</h2>
          {page.contact.email && <a class="cluster contact-link" href={`mailto:${page.contact.email}`}>
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="var(--color-primary-800)" viewBox="0 0 512 512"><defs><style>.fa-secondary{opacity:0.4;}</style></defs><path class="fa-primary" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48z"/><path class="fa-secondary" d="M0 112V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V112c0 15.1-7.1 29.3-19.2 38.4L275.2 313.6c-11.4 8.5-27 8.5-38.4 0L19.2 150.4C7.1 141.3 0 127.1 0 112z"/></svg>
            <span>Email</span>
          </a>
        }
        </div>
      )
    }
  </div>
</PersonLayout>

<style>
  .eyebrow {
    margin-bottom: 0.75rem;
  }

  .small-title.heading-category {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--color-primary-800);
    width: fit-content;
    line-height: 1;
    padding: 6px 9px;
    background-color: var(--color-primary-100);
    border-radius: var(--rounded-corners-small);
    transition: all 0.2s ease;
  }

  .small-title.heading-category:hover {
    background-color: var(--color-primary-200);
  }

  .role {
    font-size: var(--step-1);
    font-style: italic;
  }

  .contact {
    margin-top: 2rem;
  }

  .contact .small-title {
    margin-bottom: 9px;
  }

  .contact-link {
    color: var(--color-primary-800);
  }

  .rich-text {
    margin-top: 8px;
    max-width: 750px;
  }

.rich-text > * + * {
  margin-top: var(--space-l);
}
</style>
