---
import { urlFor } from "../../../lib/sanity";
import {
  joinNames,
  capitalizeFirstLetter,
  slugify,
} from "../../../utils/format";
import {
  makeNameSlug,
  allStaff,
  allEldersAndDeacons,
} from "../../../lib/people";
import { groupAsType } from "../../../utils/people";
import { PortableText } from "astro-portabletext";
import SectionPage from "../../../layouts/SectionPage.astro";

const staff = allStaff;
const eldersAndDeacons = allEldersAndDeacons;
const staffByType = groupAsType(staff);
const eldersAndDeaconsByType = groupAsType(eldersAndDeacons);
---

<SectionPage
  currentPage={"fb0d80b4-b5ac-43bc-96eb-9c2146228d3a"}
  localNavSection={"Who We Are"}
>
  <div class="cluster sticky">
    <div class="small-title">Jump to:</div>
    <a href="#staff" class="text-step-4 heading-link">Clergy & Staff</a>
    <a href="#elders" class="text-step-4 heading-link">Elders & Deacons</a>
  </div>
  <div class="watch">
    <div id="staff">
      <h2 class="sr-only">Clergy & Staff</h2>
      {
        staffByType.map((type) => {
          if (type.type === "admin") {
            type.type = "Administrative";
          }

          return (
            <section class="columns" id={type.type}>
              <div>
                <h3 class="text-step-3">
                  {`${capitalizeFirstLetter(type.type)} Staff`}
                </h3>
              </div>
              <ul class="grid">
                {type.entries.map((person) => (
                  <li>
                    <a
                      href={`/who-we-are/leadership/${makeNameSlug(
                        person.name
                      )}`}
                      class="person"
                    >
                      <div class="frame square">
                        <img
                          src={urlFor(person.image)
                            .width(400)
                            .height(400)
                            .auto("format")
                            .url()}
                          width={400}
                          height={400}
                          alt={joinNames(person.name)}
                        />
                      </div>
                      <div class="flow">
                        <h3 class="text-step-1">
                          {[
                            person.name.title,
                            person.name.firstName,
                            person.name.lastName,
                          ].join(" ")}
                        </h3>
                        <p class="text-step--1">
                          <em>{person.role}</em>
                        </p>
                      </div>
                    </a>
                  </li>
                ))}
              </ul>
            </section>
          );
        })
      }
    </div>
    <div id="elders">
      <h2 class="sr-only">Elders & Deacons</h2>
      {
        eldersAndDeaconsByType.map((type) => (
          <section class="columns" id={type.type}>
            <div>
              <h3 class="text-step-3">{`${capitalizeFirstLetter(
                type.type
              )}s`}</h3>
            </div>
            <ul class="grid">
              {type.entries.map((person) => (
                <li>
                  <div class="person">
                    <div class="frame square">
                      <img
                        src={urlFor(person.image)
                          .width(400)
                          .height(400)
                          .auto("format")
                          .url()}
                        width={400}
                        height={400}
                        alt={joinNames(person.name)}
                      />
                    </div>
                    <div class="flow">
                      <h3 class="text-step-1">
                        {[
                          person.name.title,
                          person.name.firstName,
                          person.name.lastName,
                        ].join(" ")}
                      </h3>
                    </div>
                  </div>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </div>
</SectionPage>
<style>
  /* .with-sidebar {
    --sidebar-gap: 2rem;
    --sidebar-min-width: 10rem;
    --main-min-width: 40%;
  }

  .with-sidebar > :first-child {
    flex-basis: var(--sidebar-min-width);
    flex-grow: 1;
  }

  .with-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--main-min-width);
  } */

  .sticky {
    position: sticky;
    background: white;
    z-index: 20;
    padding-block: 1.5rem;
    top: 5rem;
    /* border-bottom: 1px solid var(--color-primary-300); */
  }

  .heading-link {
    color: var(--color-primary-800);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-header);
    transition: all 0.2s ease;
  }

  .heading-link:hover {
    text-decoration: underline;
    color: var(--color-primary-800);
    opacity: 1 !important;
  }

  .sticky.cluster {
    --cluster-space: 3rem;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 2rem;
    padding-block-start: var(--space-2xl);
  }

  .columns > :first-child {
    grid-column: 1 / 3;
  }

  .columns > :last-child {
    grid-column: 3 / 10;
  }

  .columns h2 {
    margin-top: var(--space-m);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 3rem;
  }

  .person {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100%;
    text-decoration: none;
    background-color: transparent;
    padding: var(--space-m);
    border-radius: var(--rounded-corners);
    transition: background-color 0.3s ease;
  }

  .person:hover {
    background-color: var(--color-primary-100);
  }

  .person .frame img {
    transition: transform 0.3s ease;
  }

  .person:hover .frame img {
    transform: scale(1.1);
  }

  .person > .flow {
    --flow-space: 0.33rem;
  }

  .frame.square {
    border-radius: 9999px;
    max-width: 8rem;
    margin-bottom: 1rem;
  }

  .watch {
    margin-top: 0 !important;
  }

  #staff,
  #elders {
    scroll-margin-top: 8rem;
  }

  #staff {
    margin-block-start: 2rem;
  }

  #elders {
    border-top: 1px solid var(--color-neutral-100);
  }

  @media (max-width: 768px) {
    .columns > :first-child {
      grid-column: span 9;
    }

    .columns > :last-child {
      grid-column: span 9;
    }
  }

  @media (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }

    .person {
      align-items: flex-start;
      text-align: left;
    }
  }
</style>

<script>
  const headerLinks = document.querySelectorAll(".sticky a");
  const sections = document.querySelectorAll(".watch > div");

  const onIntersect = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const id = entry.target.id;
        console.log(`${id} is intersecting!`);
        headerLinks.forEach((link) => {
          const a = link as HTMLElement;
          if (a.hash === `#${id}`) {
            a.style.opacity = "1";
          } else {
            a.style.opacity = "0.5";
          }
        });
      }
    });
  };

  const observer = new IntersectionObserver(onIntersect, {
    rootMargin: "-60px",
  });

  sections.forEach((el) => {
    observer.observe(el);
  });
</script>
