---
import Layout from "./Layout.astro";
import InnerHero from "../components/InnerHero.astro";
import { PortableText } from "astro-portabletext";
import InlineImage from "../components/InlineImage.astro";
import PreviewFeature from "../components/PreviewFeature.astro";
import FullWidthFeature from "../components/FullWidthFeature.astro";
import "../styles/rich-text.css";

import { urlFor } from "../lib/sanity";
import { filterLocalNav } from "../lib/navigation";
import { getCurrentPage } from "../lib/pages";
import IntroSection from "../components/IntroSection.astro";

const utilityLocalNav = {
  name: "More",
  slug: "",
  children: [
    {
      name: "Give",
      slug: "/giving",
    },
    {
      name: "Calendar",
      slug: "/calendar",
    },
    {
      name: "Contact",
      slug: "/contact",
    },
    {
      name: "Nursery School",
      slug: "https://www.smccnurseryschool.org/",
    },
  ],
};

const { currentPage, localNavSection, contentPadding } = Astro.props;
const page = getCurrentPage(currentPage);
const {
  seo,
  pageName,
  pageDescription,
  background,
  introSections,
  cta,
  content,
} = page;

const bgImage = background.image
  ? urlFor(background.image).width(1600).height(450).auto("format").url()
  : undefined;
---

<Layout meta={seo}>
  <Fragment slot="pageHead">
    <link rel="preload" href={bgImage} as="image" />
    <slot name="pageHead" />
  </Fragment>
  <main slot="main">
    <InnerHero
      localNav={localNavSection === "Utility"
        ? utilityLocalNav
        : filterLocalNav(localNavSection)}
      pageTitle={pageName}
      pageDescription={pageDescription}
      bgImage={bgImage}
    />
    <article class:list={["content-wrapper flow", contentPadding && "padding"]}>
      <slot name="pre-content" />
      {
        introSections &&
          introSections.map((section) => {
            return (
              <IntroSection
                title={section.heading}
                image={section.image}
                layout={section.layout && "flipped"}
              >
                <PortableText value={section.text} />
              </IntroSection>
            );
          })
      }
      <slot />
      {
        content && (
          <div class="content rich-text">
            <PortableText
              value={content}
              components={{
                type: { image: InlineImage, previewFeature: PreviewFeature },
              }}
            />
          </div>
        )
      }
    </article>
    <slot name="pre-footer" />
    {
      cta && (
        <aside>
          <FullWidthFeature content={cta} />
        </aside>
      )
    }
  </main>
</Layout>

<style>
  article.content-wrapper {
    margin-block-start: var(--section-spacer-half);
    margin-block-end: var(--section-spacer);
  }

  .padding {
    padding-block-start: var(--space-2xl);
  }

  .content-wrapper.flow {
    --flow-space: var(--space-3xl);
  }

  @media (max-width: 768px) {
    article.content-wrapper {
      margin-block-start: 3rem;
      margin-block-end: 3rem;
    }

    .padding {
      padding-block-start: 1rem;
    }
  }
</style>
